<div style="z-index: 3; position: relative;background-color:rgba(255,255,255,.8);">
    <h1>用電資訊</h1>
    <hr>
    <div class="row placeholders text-center mb-3" style="margin-right: 0px; margin-left: 0px; margin-top: 0px;">
      <ng-container *ngFor="let item of elecDataList ;let i =index">
        <ng-container *ngIf="item.name">
          <div class="col-xs-6 col-sm-3 placeholder mb-5">
            <radial-gauge
              [attr.Value]="(item.value*item.volt/1000)"

              title="Watt"
              units="Kw"
              width="200"
              height="200"

              min-value="0.0"
              max-value="3"
              major-ticks="0.0,0.6,1.2,1.8,2.4,3.0"
              minor-ticks="2"

              needle-type="arrow"
              needle-width="2"
              needle-colors="blue"
              needle-circle-inner="false"
              needle-circle-size="7"
              needle-circle-outer="true"

              color-needle="red"
              color-needle-end="blue"
              color-needle-shadow-down="#550"
              color-needle-circle-outer="#333"
              color-needle-circle-outer-end="#111"

              animation="true"
              animateOnInit="true"
              animated-Value="true"
              animation-duration="900"
              animation-rule="linear"
              glow="true"
              highlights='[{"from": 0.0, "to": 0.6, "color": "#eee"},
                          {"from": 0.6, "to": 1.2, "color": "#ccc"},
                          {"from": 1.2, "to": 1.8, "color": "#aaa"},
                          {"from": 1.8, "to": 2.4, "color": "#eea"},
                          {"from": 2.4, "to": 3.0, "color": "#eaa"}]'
            ></radial-gauge>
            <div  style="font-size: 24px;">
              {{signalRService.DeviceNameList[i]?.name}}<br>
            </div>
            <div style="font-size: 28px;font-weight: bolder;">
              {{item.value*item.volt | number}}瓦
            </div>

          </div>
        </ng-container>
      </ng-container>
    </div>
    <!-- <h2>
      用電比例
    </h2>
    <hr>
    <div class="row">

      <highcharts-chart
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"

          [options]="donutchart.options"
          [(update)]="updateFlag"
          [oneToOne]="true"
          class="col-lg-4 col-md-4">
      </highcharts-chart>

      <highcharts-chart
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"

          [options]="barChart.chartOptions"
          [(update)]="updateFlag"
          [oneToOne]="true"
          class="col-lg- col-md-8">
      </highcharts-chart>
    </div> -->

    <h2>
      圖表
    </h2>
    <hr>
    <div class="row">
      <div [chart]="chartForPie" class="col-4"></div>
      <div [chart]="chartForBar" class="col-8"></div>
    </div>
</div>

