<!-- 控制loading -->
<div [ngClass]="{'loading': this.signalRService.show}">
  <div class="loader">
    <div class="loader-wrapper">
      <p class="fa-2x text-white" style="font-size: 48px;">資料處理中</p>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

<!-- 頁首 -->
<div class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="">
    <img src="assets/imgs/li.png" style="margin-right: 10px; margin-top: 0px; height: 28px;">
    電力系統
  </a>
</div>
<!-- 頁首END -->
<!-- 頁首以下 -->
<div class="container-fluid">
  <div class="row">
    <!-- 左側navbar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-sm-2 col-lg-1 ">
      <a [routerLink]="['/home/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4" style="font-size: 1.5rem!important">
          目錄
        </span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto ">
        <li class="nav-item">
          <a [routerLink]="['/home/dashboard']" (click)="Goto()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-white">
            面板
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/home/chart']" (click)="Goto()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-white">
            圖表
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/home/search']" (click)="Goto()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-white">
            查詢
          </a>
        </li>
      </ul>
    </div>
    <!-- 左側navbar END -->
    <!-- 右側主內容物 -->
    <div class="col-sm-9 col-sm-offset-2 col-lg-11 col-lg-offset-1 main viewport" style="padding: 10px 40px 0px 40px;">
      <router-outlet></router-outlet>
    </div>
    <!-- 右側主內容物 -->
  </div>
</div>
<!-- 頁首以下END -->
