/* You can add global styles to this file, and also import other style files */
/* @import './assets/css/bootstrap.min.css' */
.loading, html.loading  {
  position: fixed;
  width: 100%;
  height: 100%;
}
.loading .loader, html.loading .loader {
  position: relative;
  top:0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  height: 100vh;
  z-index: 10000000;
  background-color: rgba(89, 125, 243, 0.5);
  display: block;
  /* visibility: visible; */
}
 .loader, html .loader {
  display: none;
  /* visibility: hidden; */
}

/* .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; height: 100%;
} */

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}
.viewport{
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.loader .loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.loader .loader-wrapper span {
  display: inline-block;
  width: 10px; height: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  animation: loading 3.3s infinite ease-in-out;
}
.loader .loader-wrapper span:nth-of-type(1) {
  animation-delay: 1000ms;
}
.loader .loader-wrapper span:nth-of-type(2) {
  animation-delay: 800ms;
}
.loader .loader-wrapper span:nth-of-type(3) {
  animation-delay: 600ms;
}
.loader .loader-wrapper span:nth-of-type(4) {
  animation-delay: 400ms;
}
.loader .loader-wrapper span:nth-of-type(5) {
  animation-delay: 200ms;
}
@keyframes loading {
  0% {opacity: 0;
  transform: translateX(-300px);
  }
  33% {opacity: 1;
  transform: translateX(0px);
  }
  66% {opacity: 1;
  transform: translateX(0px);
  }
  100% {opacity: 0;
  transform: translateX(300px);
  }
}
